@page "/Usuarios"
@attribute [Authorize(Roles ="Administrator")]
@inject HttpClient Http
@inject IJSRuntime js
<h3>Estudiantes</h3>
<div>
    <a class="btn btn-success" href="CrearUsuario">Nuevo Usuario</a>
</div>
@if (_Usuarios == null)
{
    <text>Cargando...</text>
}
else if (_Usuarios.Length == 0)
{
    <text>No hay Personas en la Base de Datos</text>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Id</th>
                <th>Nombre</th>
                <th>Clave</th>
                <th>Roles</th>
                <th>carreras</th>
                <th>Materias</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usuarios in _Usuarios)
           {
             <tr>
               <td>
                   <a  class="btn btn-success" href="editar-Usuario/@usuarios.Id">Editar</a>
                   <button class="btn btn-danger" @onclick="@(()=>BorrarUsuarios(usuarios.Id))">Borrar</button>
               </td>
               <td>@usuarios.Id</td>
               <td>@usuarios.Nombre</td>
               <td>@usuarios.Clave</td>
               <td>@usuarios.Roles</td>
               @foreach (var carreraEst in @usuarios.CarreraEstudianteList)
               {
                         <td>@carreraEst.NombreCarrera</td>
               }
               @foreach (var MateriasEst in @usuarios.MateriasEstudianteList)
               {
                         <td>@MateriasEst.NombresMaterias</td>
               }
              
               
             </tr>
           }
        </tbody>
    </table>
}
@code {

    Usuarios[]? _Usuarios{ get; set; }
    




    protected override async Task OnInitializedAsync()
    {
        await CargarUsuarios();

    }

    async Task CargarUsuarios()
    {
        _Usuarios = await Http.GetFromJsonAsync<Usuarios[]>("Users");
       
    }

   

    async Task BorrarUsuarios(int IdUsuario)
    {
        var UsuarioSelect = _Usuarios.First(x => x.Id == IdUsuario);
        string mensajeEliminar = $"Deses Eliminar al Usuario: {UsuarioSelect.Nombre}";
        if (await js.InvokeAsync<bool>("confirm", mensajeEliminar))
        {
             await Http.DeleteAsync($"Users/{IdUsuario}");
             await CargarUsuarios();
        }
       
    }

}
